.todo-app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title-description {
  text-align: center;
  font-size: 1.1em;
  color: var(--wheat);
}

.todo-list-main {
  width: 65%;
  min-height: 31em;
  padding: 1.4em;
  margin: 0.8em;
  position: relative;
  border-radius: 0.6em;
  top: 11%;
}

.sharing-modal {
  display: flex;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: var(--dark-black);
  width: 100%;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.sharing-modal-content {
  width: 85%;
  border: 1px solid var(--dark-black);
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--soft-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  opacity: 1;
}

.share-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

.share-btn {
  width: 85%;
  margin: 0 auto;
}

.success {
  margin: 1em;
}

@media screen and (max-width: 850px) {
  .todo-app {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

  .todo-list-main {
    width: 85%;
  }

  .share-btn {
    width: 100%;
  }
}